<div class="row">
	<div class="span12" >
		<legend>
			Change your Password
		</legend>
	</div>
</div>

<div class="row">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
	<div class="span4">
		<fieldset>
			<div class="control-group">
				<%= f.label :password, :class => 'control-label' %>
				<div class="controls">
					<%= f.password_field :password %>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :password_confirmation, :class => 'control-label' %>
				<div class="controls">
					<%= f.password_field :password_confirmation %>
				</div>
			</div>
			<div>
					<%= f.submit "Change my Password", :class => "btn btn-primary" %>
			</div>
		</fieldset>
	<% end %>
</div>